img{
    display: inline;
}

h2{
    display: inline;
}

h1{
    text-align: center;
}

h1 + p{
    text-align: center;
}

#aboutUs{
    background-color: rgb(151, 151, 151);
    margin: 2%;
    padding: 2%;
    text-align: center;
    border: 4px solid rgb(37, 37, 37);

}

#devs{
    background-color: rgb(151, 151, 151);
    margin: 2%;
    padding: 2%;
    text-align: center;
    border: 4px solid rgb(37, 37, 37);
}

