@import "header.css";

body{
    background-color: rgb(73, 73, 73);
}
.information-section {
    margin: 10px;
}
hr {
    color: whitesmoke;
}
.content{
    color: whitesmoke;
    background-color: rgb(151, 151, 151);
    margin: 2%;
    padding: 2%;
    text-align: center;
    border: 4px solid rgb(37, 37, 37);
}


