@import "header.css";

body{
    background-color: rgb(73, 73, 73);
}
.information-section {
    margin: 10px;
}
hr {
    color: whitesmoke;
}
.content{
    color: whitesmoke;
    background-color: rgb(112, 112, 112);
    margin: 2%;
    padding: 2%;
    text-align: center;
    border: 4px solid rgb(37, 37, 37);
}
section{
    border-radius: 30px;
}

h1{
    font-size: 2.5rem;
    background-color: rgb(73, 73, 73);
    border-radius: 20px ;
}red{
    color: rgb(255, 6, 6);
    border: 1px;
}
#green{
    color: rgb(0, 236, 0);
}
#blue{
    color: rgb(0, 217, 255);
}

#orange{
    color: rgb(229, 255, 0);
}
#purple{
    color:rgb(187, 0, 187);
}


