
.pixelArt{
    image-rendering: pixelated;
}

.custom{
    position: absolute;
    width: auto;
    height: 70vh;
}

.character{
    position: fixed;
    width: auto;
    height: 70vh;
    margin-left: 10vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.labels{
    width: auto;
    height: 10vh;
    display: inline;
}

input{
    height: 10vh;
    width: auto;
}

.choices{
    padding: 0 8vw;
    margin: 5vh 0 5vh 50vw;
}

.choose{
    padding: 5vh 0;
}