@font-face {
    font-family: Pixel;
    src: url("../assets/VT323-Regular.ttf");
}

div,section{
    font-family: Pixel;
}

.logo{
    background: url("../assets/logo1.png");
    padding: 12px 0 0 179px;
}

body{
    background-color: rgb(73, 73, 73);
}
.main-background{
    background-color: rgb(160, 160, 160) !important;
}