@font-face {
    font-family: Pixel;
    src: url("../assets/VT323-Regular.ttf");
}

div,section{
    font-family: Pixel;
}

.logo{
    background: url("../assets/logo1.png");
    padding: 13px 0 0 220px;
}

body{
    background-color: rgb(73, 73, 73);
}
.main-background{
    background-color: rgb(160, 160, 160) !important;
}

.navbar-toggler{
    border: 2px solid white !important;
}

.navbar-toggler-icon{
    color: white !important;
}
#red{
    color: rgb(255, 6, 6)!important;
    border: 1px;
}
#green{
    color: rgb(0, 236, 0)!important;
}
#blue{
    color: rgb(0, 217, 255) !important;
}

#orange{
    color: rgb(229, 255, 0)!important;
}
#grey{
    color:rgb(167, 167, 167)!important;
}
.main-link{
    width: 40%;
    padding-left: 5% !important ;
    border-radius: 20px;
    background-color: rgb(124, 124, 124) !important;
}