    /* Main Grid*/
    body{
        color: white;
    }
    section{
        margin: 2%;
        padding: 2%;
        text-align: center;
    }

    h1{
        font-size: 15vw;
    }

    p{
        font-size: 25px;
    }

    input{
        width: 25%;
        height: auto;
    }

    #play_now{
        text-align: center;
        border: 4px solid rgb(151, 151, 151);
        margin: 7% 2%;
        padding: 2% 0;
    }

    #play_now > h1{
        font-family: Pixel;
        color: whitesmoke;
        font-size: 15vw;
    }

    form{
        text-align: center;
    }

    #Synopsis{
        background-color: rgba(184, 184, 184, 0.11);
        margin: 5%;
        padding: 5%;
        text-align: center;
    }

    img{
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
        width: 50%;
        height: auto;
    }
    
    #red{
        color: rgb(206, 3, 3);
        border: 1px;
    }
    #green{
        color: green;
    }
    #blue{
        color: blue;
    }

    #orange{
        color: orange;
    }
    #grey{
        color:grey;
    }

    #saverain{
        font-size: 3em;
        font: bold;
    }

    #features section{
        background-image: radial-gradient(rgb(138, 138, 138) 0%, rgba(255, 255, 255, 0) 70%);
    }

    /* for tablet view */
    @media (min-width: 414px){
        img{
            width: 200px;
            height: auto;
        }

        h1{
            font-size: 70px;
        }

        p{
            font-size: 35px;
        }

    }