html {
    height: 100%;
}

body {
    background-color: blueviolet;
    background-image: linear-gradient(to bottom right, green, rgb(18, 18, 136));
}

#firebaseui-auth-container {
    margin: 10%;
}

#logo {
    margin-top: 25%;
    width: 100%;
}