@font-face {
    font-family: Pixel;
    src: url("/assets/VT323-Regular.ttf");
}

body {
    overflow: hidden;
    margin: 0;
    background-color: black;
}


/* For Phones Landscape */
@media (max-height: 430px) {
    #game-map {
        position: absolute;
    }
}

/* For Tablets */
@media (min-height: 431px) {
    #game-map {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

/* For all views */
#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

#intro-div {
    width: 100%;
    height: 100%;
}

#intro-box {
    position: absolute;
    width: 100%;
    height: 100%;
}

#intro-text {
    position: absolute;
    margin: 0;
    /* text-align: center; */
    font-family: Pixel;
    font-size: 150%;
    width: 60%;
    color: white;
    top: 20vh;
    left: 20vw;
} 

#next-dialogue-button {
    position: absolute;
    height: 10vh;
    top: 70vh;
    left: 48vw;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}