@font-face {
    font-family: Pixel;
    src: url("../assets/VT323-Regular.ttf");
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/* For Phones Landscape */
@media (max-height: 430px) {
    #game-map {
        position: absolute;
    }
}

/* For Tablets (this was from introduction.css -- 
-- this is a method of stretching the map image for tablets)*/
@media (min-height: 431px) {
    #game-map {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

/* For all views */
#container {
    width: 100vw;
    height: 100vh;
}



/* Character Customization */
body{
    background-color: rgb(80, 233, 233);
    overflow: hidden;
    margin: 0;
    padding: 0;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.pixelArt{
    image-rendering: pixelated;
}

.custom{
    position: absolute;
    width: auto;
    height: 50vh;
}

.character{
    position: absolute;
    width: auto;
    height: 50vh;
    left: 19vw;
    top: 26vh;
    /* margin: 2vh 19vw; */
    /* margin-bottom: 0; */
}

.labels{
    width: auto;
    height: 10vh;
    display: inline;
}

.prev{
    padding: 0;
    margin: 29vh 0 0 51vw;
}

.next{
    padding: 0;
    margin: 29vh 0 0 72vw;
}

.skinButton{
    margin-top: 46vh;
}

.suitButton{
    margin-top: 64vh;
}

.switch{
    height: 10vh;
    position: absolute;
    top: 0;
    left: 10vh;
}

#save-button{
    /* margin-left: 66.5vw; */
    height: 12vh;
    bottom: 10vh;
    right: 25vw;
    position: absolute;
}

.orientation{
    display: none;
    background-color: black;
    color: white;
    height: 60vh;
    width: 100%;
}

.notebook{
    position: absolute;
    width: 80vw;
    padding: 6vh 10vw;
    top: 0;
    right: 0;
    padding-bottom: 0;
}

#ui-container{
    position: absolute;
    width: 30vw;
    right: 1%;
    top:1%;
}

#ui-container img{
    position: absolute;
    
}

@media (orientation: portrait) {
    .orientation{
        display: block;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20vh 0;
    }

    .orientation h1{
        font-size: 12vh;
        margin: 0;
        font-family: Pixel;
    }

    #container {
        visibility: hidden;
    }
}

@media (width: 653px) and (height: 280px) {
    .notebook{
        width: 67vw;
        top: 0.5vh;
        left: 6.5vw;
        padding-top: 1.5vh;
    }

    .prev{
        padding: 0;
        margin: 28vh 0 5vh 51vw;
    }

    .next{
        padding: 0;
        margin: 28vh 0 5vh 69.5vw;
    }

    .switch{
        height: 10vh;
        position: absolute;
        top: 0;
        left: 10vh;
    }

    .character{
        margin: 2.5vh 25vw;
        margin-bottom: 0;
    }

    #save-button{
        margin-top: 3vh;
        margin-left: 63.5vw;
        height: 15vh;
    }

    .skinButton{
        margin-top: 46.5vh;
    }
    
    .suitButton{
        margin-top: 66vh;
    }
}

@media (width: 720px) and (height: 540px) {
    .notebook{
        width: 90vw;
        top: 13vh;
        left: 5vw;
        padding: 0;
    }

    .custom{
        position: absolute;
        width: auto;
        height: 41vh;
    }
    
    .character{
        position: relative;
        width: auto;
        height: 41vh;
        margin: 2vh 15.5vw;
        margin-bottom: 0;
    }

    .prev{
        padding: 0;
        margin: 32vh 0 3vh 49.5vw;
    }
    
    .next{
        padding: 0;
        margin: 32vh 0 3vh 73.5vw;
    }
    
    .switch{
        height: 9vh;
        position: absolute;
        top: 0;
        left: 10vh;
    }

    #save-button{
        margin-top: 0vh;
        margin-left: 67.5vw;
    }

    .skinButton{
        margin-top: 46.5vh;
    }
    
    .suitButton{
        margin-top: 61.5vh;
    }
}

@media (min-width: 811px) and (max-width: 821px) {
    .notebook{
        width: 72vw;
        top: 1vh;
        left: 4vw;
        padding-top: 1.5vh;
    }

    .character{
        position: absolute;
        width: auto;
        height: 50vh;
        left: 23vw;
        top: 26vh;
    }

    .switch{
        height: 11vh;
        position: absolute;
        top: 0;
        left: 10vh;
    }

    .prev{
        padding: 0;
        margin: 27.5vh 0 5vh 51vw;
    }
    
    .next{
        padding: 0;
        margin: 27.5vh 0 5vh 70.5vw;
    }

    #save-button{
        /* margin-top: 2vh; */
        height: 16vh;
        /* margin-left: 63.5vw; */
        position: absolute;
        bottom: 5vh;
        right: 27vw;
    }

    .skinButton{
        margin-top: 46vh;
    }
    
    .suitButton{
        margin-top: 65.5vh;
    }
}

@media (min-width: 822px) and (max-width: 1022px){
    .notebook{
        width: 78vw;
        top: 1vh;
        left: 2vw;
        padding-top: 1.5vh;
    }

    .character{
        margin: 3vh 22vw;
        margin-bottom: 0;
    }

    .prev{
        padding: 0;
        margin: 27.5vh 0 5vh 52.5vw;
    }
    
    .next{
        padding: 0;
        margin: 27.5vh 0 5vh 73vw;
    }
    
    .switch{
        height: 11vh;
        position: absolute;
        top: 0;
        left: 10vh;
    }

    #save-button{
        margin-top: 1.5vh;
        height: 16vh;
        margin-left: 66vw;
    }

    .skinButton{
        margin-top: 46.5vh;
    }
    
    .suitButton{
        margin-top: 66vh;
    }
}

@media (min-width: 1024px) and (max-width: 1367px){
    .notebook{
        width: 90vw;
        top: 10vh;
        left: 5vw;
        padding: 0;
        padding-top: 1.5vh;
    }

    .custom{
        height: 41vh;
    }
    
    .character{
        height: 41vh;
        margin: -1vh 15vw;
        margin-bottom: 0;
    }

    .prev{
        padding: 0;
        margin: 30.5vh 0 3vh 49.5vw;
    }
    
    .next{
        padding: 0;
        margin: 30.5vh 0 3vh 73.5vw;
    }
    
    .switch{
        height: 9vh;
        position: absolute;
        top: 0;
        left: 10vh;
    }

    .skinButton{
        margin-top: 45vh;
    }
    
    .suitButton{
        margin-top: 59.5vh;
    }

    #save-button{
        margin-top: 0.5vh;
        height: 12vh;
        margin-left: 67.5vw;
    }

}
/* End of Character Customization */




/* Introduction Styles */
#intro-div {
    width: 100%;
    height: 100%;
}

#intro-box {
    position: absolute;
    width: 100%;
    height: 100%;
}

#intro-text {
    position: absolute;
    margin: 0;
    text-align: center;
    font-family: Pixel;
    font-size: 150%;
    width: 60%;
    color: rgb(235, 226, 226);
    top: 20vh;
    left: 20vw;
} 

#next-dialogue-button {
    position: absolute;
    height: 10vh;
    top: 71vh;
    right: 19vw;
    height: 17vh;
}
/* End of Introduction styles */

/* Question Prompt styles */
.absolute-div {
    position: absolute;
}

/*Game map .gif*/
#game-map{
    position: absolute;
    width: 100%;

}

.main-game-images {
    position: absolute;
}

#raincity {
    width: 100vw;
    height: 100vh;
}

#answerBox {
    position: absolute;
    height: 35vh;
    top: 30vh;
    left: 15vw;
}

#answerBoxText {
    position: absolute;
    color: rgb(235, 226, 226);
    font-family: Pixel;
    font-size: 1.5em;
    margin: 0;
    top: 37vh;
    left: 20vw;
    width: 59vw;
    height: 20vh;
}

#question-prompt-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#question-prompt {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#question-prompt-text {
    position: absolute;
    color: rgb(235, 226, 226);
    font-family: Pixel;
    font-size: 1.18em;
    text-align: center;
    width: 60vw;
    height: 16vh;
    left: 20vw;
    top: 12vh;
}

#main-character {
    width: 15vw;
    height: 50vh;
    /* margin: 43vh 20vw; */
    bottom: 7vh;
    left: 20vw;
    position: absolute;
}

#main-character img {
    width: 100%;
    height: 100%;
    position: absolute;
}

#assistant {
    width: 19vw;
    height: 45vh;
    /* margin: 41vh 62vw; */
    bottom: 9vh;
    right: 18vw;
    position: absolute;
}

#yes-button {
    width: 15vw;
    height: 15vh;
    position: absolute;
    margin: 50vh 43vw;
}

#yes-button:active {
    content: url(./assets/dialogue_box/buttons/YesButtonClicked.svg);
}

#no-button {
    width: 15vw;
    height: 15vh;
    position: absolute;
    margin: 69vh 43vw;
}

#no-button:active {
    content: url(./assets/dialogue_box/buttons/NoButtonClicked.svg);
}
/* End of Question Prompt styles */


/* End Game Sequence */

#endGameBox {
    position: absolute;
    width: 70vw;
    left: 15vw;
}

#gameOverText {
    position: absolute;
    width: 70vw;
    left: 15vw;
}

#returnButton {
    position: absolute;
    height: 18vh;
    left: 45vw;
    bottom: 17vh;
}

/* All pages */

#main-game {
    display: none;
}