@import "header.css";

html{
    position: relative; 
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(73, 73, 73);
}
.content{
    color: whitesmoke;
    background-color: rgb(151, 151, 151);
    margin: 2%;
    padding: 2%;
    text-align: center;
    border: 4px solid rgb(37, 37, 37);
}
#table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
table {
    grid-column: 2;
}

footer{
    display: grid;
    grid-template-areas:
    "about aside";
    background-color: rgb(160, 160, 160);
    bottom: 0;
    position: absolute;
}
